@page
@model WorkoutTrackerWeb.Pages.Sets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Set</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Set.SetId" />
            <div class="form-group">
                <label asp-for="Set.Description" class="control-label"></label>
                <input asp-for="Set.Description" class="form-control" />
                <span asp-validation-for="Set.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set.Notes" class="control-label"></label>
                <input asp-for="Set.Notes" class="form-control" />
                <span asp-validation-for="Set.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set.NumberReps" class="control-label">Number of Reps</label>
                <input asp-for="Set.NumberReps" class="form-control" type="number" min="0" />
                <span asp-validation-for="Set.NumberReps" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set.Weight" class="control-label">Weight (kg)</label>
                <input asp-for="Set.Weight" class="form-control" type="number" step="0.25" min="0" />
                <span asp-validation-for="Set.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Set.SettypeId" class="control-label">Set Type</label>
                <select asp-for="Set.SettypeId" class="form-control" asp-items="@Model.SettypeNameSL">
                    <option value="">--- Select Set Type ---</option>
                </select>
                <span asp-validation-for="Set.SettypeId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Set.ExerciseTypeId" class="control-label">Exercise Type</label>
                <select asp-for="Set.ExerciseTypeId" class="form-control" asp-items="@Model.ExerciseTypeSL">
                    <option value="">--- Select Exercise Type ---</option>
                </select>
                <span asp-validation-for="Set.ExerciseTypeId" class="text-danger" />
            </div>
            <div class="form-group">
                <label asp-for="Set.SessionId" class="control-label">Session</label>
                <select asp-for="Set.SessionId" class="form-control" asp-items="@Model.SessionNameSL">
                    <option value="">--- Select Session ---</option>
                </select>
                <span asp-validation-for="Set.SessionId" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
