@page
@model WorkoutTrackerWeb.Pages.Reps.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Rep</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rep.weight" class="control-label"></label>
                <input asp-for="Rep.weight" class="form-control" />
                <span asp-validation-for="Rep.weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rep.repnumber" class="control-label"></label>
                <input asp-for="Rep.repnumber" class="form-control" />
                <span asp-validation-for="Rep.repnumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rep.success" /> @Html.DisplayNameFor(model => model.Rep.success)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Rep.SessionId" class="control-label"></label>
                <select asp-for="Rep.SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rep.UserId" class="control-label"></label>
                <select asp-for="Rep.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rep.ExcerciseId" class="control-label"></label>
                <select asp-for="Rep.ExcerciseId" class ="form-control" asp-items="ViewBag.ExcerciseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
