@page
@model WorkoutTrackerWeb.Pages.Sets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>aSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="aSet.aSetId" />
            <div class="form-group">
                
                <label asp-for="aSet.Description" class="control-label"></label>
                <input asp-for="aSet.Description" class="form-control" />
                <span asp-validation-for="aSet.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="aSet.Notes" class="control-label"></label>
                <input asp-for="aSet.Notes" class="form-control" />
                <span asp-validation-for="aSet.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="aSet.Type" /> @Html.DisplayNameFor(model => model.aSet.Type)
                </label>
            </div>
            <div class="form-group">
                
                <label asp-for="aSet.SessionId" class="control-label"></label>
                <select asp-for="aSet.SessionId" class="form-control" asp-items="ViewBag.SessionId"></select>
                <span asp-validation-for="aSet.SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="aSet.UserId" class="control-label"></label>
                <select asp-for="aSet.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="aSet.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="aSet.ExcerciseId" class="control-label"></label>
                <select asp-for="aSet.ExcerciseId" class="form-control" asp-items="ViewBag.ExcerciseId"></select>
                <span asp-validation-for="aSet.ExcerciseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
