@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Users <a href="/Users/Index/">Users</a>.</p>
    <p>Sessions <a href="/Sessions/Index/">Sessions</a>.</p>
    <p>Excercises <a href="/Excercises/Index/">Excercises</a>.</p>
    <p>Sets <a href="/Sets/Index/">Sets</a>.</p>
    <p>Reps <a href="/Reps/Index/">Reps</a>.</p>
    <p>SetTypes <a href="/SetTypes/Index/">Sets Types</a>.</p>
</div>
